.header {
    background: green;
    opacity: 0.5;
    color: white;
    font-family: monospace;
    font-size: 14px;
    text-align: center;
}

.wrapper {
    position: relative;
    border: solid green 2px;
    display: flex;

}

.left_column {
    flex: 1;
    border: solid green 2px;
    padding-left: 2%;
}


.images {
    flex: 4;
}


.check {
    background-color: #009A63;
    border: none;
    color: white;

    border-radius: 5px;
    font-size: 16px;

}


.check:hover {
    background-color: #7FBF7F;
}

#check_button {
    margin-left: 20%;
}

#clear_button {
    margin-left: 45%;
}

#lebron {
    width: 100%;
    height: fit-content;

}


.y_choose, .r_choose {
    margin-top: 10%;
}

select, input {
    margin-top: 3%;
}

select {
    margin-bottom: 2%;
}

input {
    margin-right: 5px;
}

/*селектор атрибута*/

input[type='text'] {
    background-color: gainsboro;
}

/*наследование*/


p.zero {
    font-weight: bold;
    font-style: normal;
}

p {
    font-style: italic;
}

/*таблица*/

table {
    font-size: 14px;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td:first-child {
    background: #009A63;
    color: white;
    padding: 10px 20px;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

td {
    background: #D0F0C0;
}


th:first-child, td:first-child {
    text-align: left;
}